<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
        <link rel="icon" href="/images/Prajatantrik.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css'/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    {{> header}}
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{{body}}}

 <br><br>
<footer class="text-center">
    <hr>
        <div class="text-center center-block">
        
                <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        
        <br><br>
        
            <p  style="color:white;">©2018 by Prajatantrik Samajvadi Party. All rights reserved.  | Powered By:
      <a href="#" data-toggle="tooltip" title=""> Taffrii Technologies Pvt. Ltd. </a></p>
</div>
    <hr>
</footer>
                  <script src="/javascripts/deleteRegister.js"></script>
        <script src="/javascripts/deleteCover.js"></script>
        <script src="/javascripts/deleteContact.js"></script>
        <script src="/javascripts/deleteUser.js"></script>


             <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> 
         <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
  </body>
</html>
