<br><br><br><br>
  <!-- About Section -->
  <div class="container">
    <section id="about">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="alert alert-dark">
       <strong><h1 class="text-center"><u> About Us</u></h1></strong>
    </div>
  </div>
    <br><br>

    <div class="row">
       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

     <img src="/images/Prajatantrik.png" alt="Member" width="330" height="330">
    </div>

       <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <h3 class="text-center"></h3>
  <hr class="featurette-divider"><br>

 <p class="text-large">

 </p><br>
   
      <h4 class="text-center">उद्देश्य</h4>
      <hr class="featurette-divider"><br>

<p class="text-large text-grey">

</p>
    </div>
  </div>
  <br><br><br>
  </section>
<hr>
<!--
<section id="history">
  <br><br><br>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-success">
       <strong><h1 class="text-center"><u> Our History</u></h1></strong>
    </div>
  </div>
    <br>
 <div class="row">

     <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <h3 class="text-center"> Founded in 2014</h3>
  <hr class="featurette-divider"><br>

 <p class="text-large">

 </p><br>
   
      <h4 class="text-center">उद्देश्य</h4>
      <hr class="featurette-divider"><br>

<p class="text-large text-grey">

</p>
    </div>

       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
     <img src="/images/Prajatantrik.png" alt="Member" width="330" height="330">
    </div>

  </div>
<br><br><br>
<hr>

</section>

 <section id="symbol">
   <br><br><br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="alert alert-dark">
       <strong><h1 class="text-center"><u> Election Symbol</u></h1></strong>
    </div>
  </div>
    <br>

    <div class="row">
       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
     <img src="/images/Prajatantrik.png" alt="Member" width="330" height="330">
    </div>

       <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <h3 class="text-center">संस्था का परिचय</h3>
  <hr class="featurette-divider"><br>

 <p class="text-large">तकनीकी शिक्षा, बदलती हुयी टेक्नालाजी के अनुरूप हो, सस्ती हो और सबके लिए सुलभ हो। इस लिए, इस संस्था
की स्थापना की गयी। संस्थापको ने प्रशिक्षण का एक व्यवहारिक स्तर तय किया, वह यह कि जो छात्र आपनी
इच्छा से पढ़ने आया है उसे ट्रेनिंग के बाद अपना काम करने योग्य हो जाना चाहिए। 
नई टेक्नोलाजी आते ही इसका प्रशिक्षण आरम्भ कर दिया जाता है, ताकि छात्र नवीनतम ज्ञान के साथ
आत्मनिर्भरता के क्षेत्र में उतर सके।</p><br>
   
      <h4 class="text-center">उद्देश्य</h4>
      <hr class="featurette-divider"><br>

<p class="text-large text-grey">देश के हर नगर में संस्था कि शाखाये खोलकर बेरोजगारों को व्यवहारिक टेक्निकल प्रशिक्षण न्यूनतम मुल्य पर उपलब्ध
कराना ताकि वे आत्मनिर्भर हो सके।</p>
    </div>
  </div>
  </section>
 <br><br> <br><hr>

<section id="constitution">
   <br><br><br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-success">
       <strong><h1 class="text-center"><u> Our Constitution</u></h1></strong>
    </div>
  </div>
    <br>
 <div class="row">

     <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <h3 class="text-center"> Founded in 2014</h3>
  <hr class="featurette-divider"><br>

 <p class="text-large">dshuih ddsiug dciysd dydsg gdigd dcvuy cdvicy dcygdgf dfsgfi fiudg dciygd diugd didd dyugduy ygdgfuygd dfvydfuydf dvydfuy dvfydfu dfyvdf vduyvd duvdv vyuduy fddfyugfg vyufyu fyvduvd dfyd sdvyudv yudf dyud duid vudyd  fdu dvd vcyvyc vcyuc cuv cuevec ydy dyvyduds dydyud vdyusdu sysduygd sdsyugdyud dyudsd sduydsud yusd sdydgs dyuds dusygdygyd suydgd husdvusyd uvysdvd ussduvuyd dsvusd dsudvdyvsdyvuvy  udsy dsyvds dsusyd dyuds udvs dsuyd sduvds dsuvds sduvds sdvsd sdu dudsds udsduvsd</p><br>
   
      <h4 class="text-center">उद्देश्य</h4>
      <hr class="featurette-divider"><br>

<p class="text-large text-grey">देश के हर नगर में संस्था कि शाखाये खोलकर बेरोजगारों को व्यवहारिक टेक्निकल प्रशिक्षण न्यूनतम मुल्य पर उपलब्ध
कराना ताकि वे आत्मनिर्भर हो सके।</p>
    </div>

       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
     <img src="/images/Prajatantrik.png" alt="Member" width="330" height="330">
    </div>

  </div>


</section>
<br><br><br>
<hr>
<section id="different">
   <br><br><br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="alert alert-dark">
       <strong><h1 class="text-center"><u> Why We Are Different</u></h1></strong>
    </div>
  </div>
    <br>

    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
     <img src="/images/Prajatantrik.png" alt="Member" width="330" height="330">
    </div>

   <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
  <h3 class="text-center">संस्था का परिचय</h3>
  <hr class="featurette-divider"><br>

 <p class="text-large">तकनीकी शिक्षा, बदलती हुयी टेक्नालाजी के अनुरूप हो, सस्ती हो और सबके लिए सुलभ हो। इस लिए, इस संस्था
की स्थापना की गयी। संस्थापको ने प्रशिक्षण का एक व्यवहारिक स्तर तय किया, वह यह कि जो छात्र आपनी
इच्छा से पढ़ने आया है उसे ट्रेनिंग के बाद अपना काम करने योग्य हो जाना चाहिए। 
नई टेक्नोलाजी आते ही इसका प्रशिक्षण आरम्भ कर दिया जाता है, ताकि छात्र नवीनतम ज्ञान के साथ
आत्मनिर्भरता के क्षेत्र में उतर सके।</p><br>
   
      <h4 class="text-center">उद्देश्य</h4>
      <hr class="featurette-divider"><br>

<p class="text-large text-grey">देश के हर नगर में संस्था कि शाखाये खोलकर बेरोजगारों को व्यवहारिक टेक्निकल प्रशिक्षण न्यूनतम मुल्य पर उपलब्ध
कराना ताकि वे आत्मनिर्भर हो सके।</p>
    </div>
  </div>
  <br><br><br>

  </section>
  -->

<hr>


  </div>

  










