<br><br><br><br>
  <!-- About Section -->
  <div class="container">
    <div class="row">
    <div class="col-md-5">
     <img src="/images/Prajatantrik.png" alt="Member" width="445" height="445">
    </div>

    <div class="col-md-7">
  <h3 class="text-center">संस्था का परिचय</h3>
  <hr class="featurette-divider"><br>

 <p class="text-large">तकनीकी शिक्षा, बदलती हुयी टेक्नालाजी के अनुरूप हो, सस्ती हो और सबके लिए सुलभ हो। इस लिए, इस संस्था
की स्थापना की गयी। संस्थापको ने प्रशिक्षण का एक व्यवहारिक स्तर तय किया, वह यह कि जो छात्र आपनी
इच्छा से पढ़ने आया है उसे ट्रेनिंग के बाद अपना काम करने योग्य हो जाना चाहिए। 
नई टेक्नोलाजी आते ही इसका प्रशिक्षण आरम्भ कर दिया जाता है, ताकि छात्र नवीनतम ज्ञान के साथ
आत्मनिर्भरता के क्षेत्र में उतर सके।</p><br>
   
      <h4 class="text-center">उद्देश्य</h4>
      <hr class="featurette-divider"><br>

<p class="text-large text-grey">देश के हर नगर में संस्था कि शाखाये खोलकर बेरोजगारों को व्यवहारिक टेक्निकल प्रशिक्षण न्यूनतम मुल्य पर उपलब्ध
कराना ताकि वे आत्मनिर्भर हो सके।</p>
    </div>
  </div>
  </div>

  










