<link href="/stylesheets/dashboard.css" rel="stylesheet">
<br><br><br><br><br>

 <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/adminhome">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addcover">Add Cover Photos &amp; News/Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Executives</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Newsletter</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
           
            <li class="nav-item">
              <a class="nav-link" href="/user/showregisters">Show All Registrations</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/shownews">Show News &amp; Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Show All Executives</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Show All Newsletter</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
             <li class="nav-item">
              <a class="nav-link" href="#">Upload Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Show Upload Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/showcontact">Show Contact Us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminsettings">Admin Settings</a>
            </li>
          </ul>
        </nav>


  <link rel="stylesheet" href="/stylesheets/registration.css" >
  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<div class="row">
    <div class="container" style="width:700px">
               <form action="/users/signup" method="post">
               <div class="form-group border border-info rounded-top clearfix">
 <h1 class="text-uppercase text-center">PSP Sign Up</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}

            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="form-group">
           <!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}">-->
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </div>
        </div>

        </form>
      <br>
             <a class="btn btn-success" href="/adminsetting"> Show Registered Admin Users</a>
    </div>


</div>
<br>

<table class="table table-bordered table-dark">
 <tbody>
       {{#each userers }}

    <tr>
      <td> <h4>Admin User :</h4></td>
      <td>{{this.email}}</td>
       <td><a class="btn btn-danger delete-user" role="button" href='#' data-id={{this._id}} >DELETE</a></td>
    </tr>
      {{/each}}

  </tbody>







</table>













</main>