 <link rel="stylesheet" href="/stylesheets/registration.css" >
<br><br><br><br>


<div class="container">
   

    <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">


   <div class="form-group border border-info rounded-top clearfix">

<form class="form-control">

<h2  class="text-center text-uppercase"><u>Head Office</u></h2>
<hr class="featurette-divider">

<br>

<h5  class="text-center"> DELHI: 1/5606, Balbir Nagar Extension, Gali No. 11, Shahdara, Delhi - 110032.</h5>

<hr class="featurette-divider">

<h5 class="text-center">BHOPAL:
 H-20, Kakda Abhinav Homes, Ayodhya Bypass Road, Bhopal - 462041 (M.P.)</h5>

<hr class="featurette-divider">

<h4 class="text-center"><u>National President</u></h4><br>
<h1 class="text-center"> Rakesh Dixit </h1><br>


<hr class="featurette-divider">

<h5 class="text-center">Mobile :+91 98935 41854</h5>

<hr class="featurette-divider">

<h4 class="text-center">Pradesh Karyalaya M.P.</h4>

<hr class="featurette-divider">

<h5 class="text-center">Akash Garden near Reliance Petrol Pump, Narsingarh Road, Bhopal - 462036 (M.P.)</h5>

<hr class="featurette-divider">

<h4 class="text-center">Pradesh Karyalaya U.P.</h4>

<hr class="featurette-divider">

<h5 class="text-center">488/3, Old Chungi ke Samne Dholipayao, Mathura - 281001 (U.P.)</h5>

        </form>
      </div>
    </div>




    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <div class="form-group border border-info rounded-top clearfix">
                    
          <form class="form-control" method="post" action='/contactus'>
               <h2  class="text-center"><u>Contact Form</u> </h2>
                 <hr class="featurette-divider">
                     <br>
                 <div class="card-text">

                     <label> Your Name :</label>
                     <input class="form-control" type="text" name="yourName" required >
                       <br>

                       <label for="yourMobile"> Mobile Number:</label>
                       <input class="form-control" type="number" name="yourMobile" required >
                            <br>

                        <label for="yourEmail"> Email Id :</label>
                        <input class="form-control" type="text" name="yourEmail" required>
                            <br>

                        <label for="yourBranch">  Location of Branch Opening  :</label>
                        <input class="form-control" type="text" name="yourBranch" >
                            <br>

                        <label for="yourAddress"> Your Address :</label>
                        <input class="form-control" type="text" name="yourAddress" required>
                            <br>

                        <label for="yourFeedback"> Your Feedback :</label>
                        <textarea class="form-control" type="text" name="yourFeedback" ></textarea>
                            <br>

                        <input class="btn btn-info btn-block" type="submit" value="Submit">
                 </div>

           </form>


      </div>
    </div>
  </div>
</div>