<br><br>

	 <div class="alert alert-dark"><br>
  <h2 class="text-center"><strong>DONATE US!</strong></h2>
</div>



<div class="container">

<div id="accordion">
    <div class="card">
      <div class="card-header alert alert-warning">
        <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
<h4 class="card-title text-center"><img src="/images/paytm1.png" alt="fffytf" style="width:10%" >
 </h4>          </a>
      </div>
      <div id="collapseOne" class="collapse">
    <h4 class="text-center"><img class="card-img-bottom" src="/images/QR_code_for_mobile_English_Wikipedia.svg.png" alt="Card image" style="width:40%"></h4>
      </div>
    </div>

    <div class="card">
      <div class="card-header  alert alert-light">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
<h4 class="card-title text-center"><img src="/images/tez.png" alt="fffytf" style="width:10%">
 </h4>      </a>
      </div>
      <div id="collapseTwo" class="collapse">
        <h4 class="text-center"><img class="card-img-bottom" src="/images/QR_code_for_mobile_English_Wikipedia.svg.png" alt="Card image" style="width:40%"></h4>
      </div>
    </div>

    <div class="card">
      <div class="card-header  alert alert-success">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
 <h4 class="card-title text-center"><img src="/images/phonepe.png" alt="fffytf" style="width:10%">
 </h4>        </a>
      </div>
      <div id="collapseThree" class="collapse">
        <h4 class="text-center"><img class="card-img-bottom" src="/images/QR_code_for_mobile_English_Wikipedia.svg.png" alt="Card image" style="width:40%"></h4>
      </div>
    </div>
  </div>
</div>