<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/stylesheets/carousel.css" rel="stylesheet">
   <!--<link rel='stylesheet' href='/stylesheets/main.css'/>-->

 
</head>
<body>

<br><br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
             {{# each coverers }}
           <div class="carousel-item {{this.activeOrNot}}">
            <img class="first-slide" src="../{{this.coverphoto}}" alt="First slide"  data-src="holder.js/500x500/auto">
            <div class="container">
              <div class="carousel-caption ">
                <h1>{{this.covertext}}</h1>
              </div>     
            </div>
          </div>
               {{/each}} 
        </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
  
<div class="container text-center">    <br>
  <h2> <u>OUR NATIONAL EXECUTIVE</u></h2><br><br>
  <div class="row">
       <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
   <h3>National President</h3>
   <p>Prajatantrik Samajvadi Party</p>
  <div class="card">
    <img class="card-img-top" src="https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-9/15977025_102523483591327_3572258327052006743_n.jpg?oh=30b1d00a5ad4dbc9664d0378863d6f28&oe=5AF7536A" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Rakesh Dixit</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="/nationalLevel" class="btn btn-primary">See Profile</a>
    </div>
  </div>
    </div>
     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h3>National Executive</h3>
  <p>Prajatantrik Samajvadi Party</p>
  <div class="card">
    <img class="card-img-top" src="https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-9/15977025_102523483591327_3572258327052006743_n.jpg?oh=30b1d00a5ad4dbc9664d0378863d6f28&oe=5AF7536A" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div> 
    </div>
       <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
   <h3>Donate Us!</h3><br>
       <div class="alert alert-danger">
    <strong>Info!</strong> You should <a href="#" class="alert-link">read this message<br></a><br>
  
  <h4 class="text-center"><button type="button" class="btn btn-danger btn-block">Make a Donate</button></h4>
  </div><hr>
   <h3>Become a Member</h3><br>
      <div class="alert alert-warning">
    <strong>Info!</strong> You should <a href="#" class="alert-link">read this message<br></a><br>
  <h4 class="text-center"><a href="/memberRegisteration" class="btn btn-warning btn-block">Join the Movement</a></h4>
  </div><hr>
    <h3>Our Other Executives</h3><br>
      <div class="alert alert-success">
    <strong>Info!</strong> You should <a href="#" class="alert-link">read this message<br></a><br>
  <h4 class="text-center"><a href="/executives" class="btn btn-success btn-block">Our Other Executives</a></h4>
  </div>
    </div>

  </div>
  <hr>
</div><br>
<div class="container">
<section class="social1" id="social1">
  <h2 class="text-center"> CONNECT WITH US</h2><br><br>
<div class="row">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsoftwarereferral%2F&tabs=timeline&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
  
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/TwitterMusic/timelines/393773266801659904?ref_src=twsrc%5Etfw">Music Superstars - Curated tweets by TwitterMusic</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

  </div>
  
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsoftwarereferral%2F&tabs=timeline&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
  
</div>  
</section>
<br><hr>
<section class="contactus">
<br>
<h1 class="text-center"> CONTACT US </h1><br>
<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<h3 class="text-center"><strong>Address</strong></h3>
<h5 class="text-center">7306, Rouse Avenue
Deen Dayal Upadhyay Marg , ITO
New Delhi – 110002</h5>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
<h3 class="text-center"><strong>About</strong></h3>
<h6 class="text-center"><a href="/about#history">Our History</a></h6>
<h6 class="text-center"><a href="/about#symbol">Election Symbol</a></h6>
<h6 class="text-center"><a href="/about#constitution">Our Constitution</a></h6>
<h6 class="text-center"><a href="/about#different">Why We Are Different</a></h6>

</div>
<div class="col-md-3">
<h3 class="text-center"><strong>Donate</strong></h3><br>
<h4 class="text-center"><button type="button" class="btn btn-danger">Donate Us</button></h4>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

<h3 class="text-center"><strong>Media</strong></h3>
<h6 class="text-center"><a href="#">Our Blog </a></h6>
<h6 class="text-center"><a href="#">Our Videos</a></h6>
<h6 class="text-center"><a href="#">Newsletter</a></h6>
<h6 class="text-center"><a href="#">Press Releases</a></h6>
</div>
</div>
</section>

</div>

<script src="https://use.fontawesome.com/077166cc8f.js"></script>
</body>
</html>
