<div class="row">
    <div class="container" style="width:680px">
               <form action="/users/signup" method="post">
               <div class="form-group border border-light rounded-top clearfix">
 <h1 class="text-uppercase text-center">UTEI Sign Up</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}

            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="form-group">
           <!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}">-->
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </div>
        </div>

        </form>
      
    </div>
</div>
